name: run-tests
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: zip
          coverage: none
      - name: Install composer dependencies
        uses: ramsey/composer-install@v2
      - name: Execute tests
        env:
          WWDR_CONTENT: ${{ secrets.WWDR_CONTENT }}
          CERTIFICATE_CONTENT: ${{ secrets.CERTIFICATE_CONTENT }}
          PASSES_APPLE_PASSWORD: ${{ secrets.PASSES_APPLE_PASSWORD }}
          PASSES_APPLE_CERT: ${{ secrets.PASSES_APPLE_CERT }}
          PASSES_APPLE_WWDR: ${{ secrets.PASSES_APPLE_WWDR }}
        run: |
          mkdir tests/certs
          echo "$CERTIFICATE_CONTENT" | base64 --decode > tests/certs/certificate.p12
          echo "$WWDR_CONTENT" | base64 --decode > tests/certs/wwdr.pem
          vendor/bin/phpunit
          rm tests/certs/certificate.p12
          rm tests/certs/wwdr.pem
